.text-blocks {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 375;
  max-width: auto;
  margin: 0 auto;
  padding: 16px;
}

.text-block {
  /* background: grey; */
  border-radius: 8px;
  padding: 16px;
  text-align: left;
}

.text-block h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #222;
}

.text-block p {
  font-size: 1rem;
}

@media (min-width: 640px) {
  .text-blocks {
    max-width: 600px;
  }

  .text-block h3 {
    font-size: 1.5rem;
  }

  .text-block p {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .text-blocks {
    max-width: 700px;
    grid-template-columns: repeat(2, 1fr); 
  }

  .text-block h3 {
    font-size: 1.75rem;
  }

  .text-block p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .text-blocks {
    max-width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .text-block h3 {
    font-size: 2rem;
  }

  .text-block p {
    font-size: 1.2rem;
  }
}