/* ---------- MOBILE FIRST ---------- */

.companyIntro {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(11, 1fr);
    width: 100vw;
    height: 30vh;
}

.companyIntroImg {
    grid-area: 1 / 1 / 9 / 12;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.companyIntroDiv {
    grid-area: 5 / 1 / 9 / 12;
    display: flex;
    align-items: center;
}

.companyIntroHeader {
    z-index: 1;
    font-size: 2rem;
    font-weight: 1000;
    padding-left: 0.5em;
}

.companyIntroHeader span {
    display: block;
}

.HeaderBackground1 {
    grid-area: 5 / 1 / 9 / 12;
    background-color: white;
    opacity: 0.7;
}



.companyIntroText {
    border-top: 1px solid var(--charcoal);
    border-bottom: 1px solid var(--charcoal);
    padding: 1rem 0.5em;
    text-align: center;
}

.companyIntroText h2 {
    margin-bottom: 0.5rem;
    color: var(--celestial-blue);
    font-size: 1.5rem;
    font-weight: bolder;
}

.companyIntroText p,
.studyAnywhereText p {
    font-size: 1rem;
    line-height: 1.4;
}




/* ---------- WEB PAGE ---------- */

@media (min-width: 600px) {

.companyIntroImg {
    display: none;
}

.companyIntro {
    background-image: url(images/image_EduTechSmart1-2048x590.jpg.jpeg);
    background-size: cover;
}   

.companyIntroHeader {
    font-size: 2.5rem;
    word-spacing: 0.7rem;
}

.companyIntroHeader span {
    display: inline;
}

.companyIntroText {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.companyIntroText p {
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}

.companyIntroText h2 {
    padding-top: 5%;
    font-size: 2rem;
}

} 