@media (max-width: 600px) {

.study-anywhere {
    margin-top: 5vh;
}

.studyAnywhere {
    display: grid;
    grid-template: repeat(3, 1fr) 0.5fr / repeat(5, 1fr);
    width: 100%;
    height: 35vh;
    padding: 0 0.7em;
}

.studyAnywhere img {
    grid-area: 1 / 1 / span 3 / span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--carolina-blue);
    opacity: 0.8;
}

.studyAnywhereHeader {
    grid-area: 2 / 1 / span 3 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

.studyAnywhereHeader h3 {
    font-size: 2rem;
    padding-right: 0.2em;
    font-family: "Racing Sans One";
}

.studyAnywhereText {
    padding: 1rem 1rem;
}

.studyAnywhereText h2 {
    margin-bottom: 0.5rem;
    margin-top: 5%;
    color: var(--blue-violet);
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: Nunito;
}



}


/* ---------- WEB PAGE ---------- */

@media (min-width: 600px) {

.studyAnywhere {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.studyAnywhere img {
    background-color: var(--carolina-blue);
    border-radius: 50%;
    width: 35%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.studyAnywhereHeader {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.studyAnywhereHeader h3 {
    font-size: 2.8rem;
    font-family: "Racing Sans One";
    text-transform: uppercase;
}

.studyAnywhereText {
    padding: 1rem 1rem;
}

.studyAnywhereText h2 {
    margin-bottom: 0.5rem;
    color: var(--blue-violet);
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 5%;
    text-align: center;
    font-family: Nunito;
}

.studyAnywhereText p {
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
}



}