* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.5;
}
:root {
  --carolina-blue: #73BBE0;
  --celestial-blue: #4C9DCA;
  --blue-violet: #9041D2;
  --charcoal: #324047;
  --white: #FFFFFF;
}
