.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.testimonials h3 {
  font-family: Nunito;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: "Racing Sans One";
  margin-bottom: 2%;
}

.gallery {
    position: relative;
    width: 100%;
    max-width: 375px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.name p {
    font-size: 1rem;
}

.profile img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 25%;
}

.quote {
    font-style: italic;
    font-size: 1rem;
    margin-top: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    font-size: 1,5rem;
    border: none;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    padding: 8px 12px;
    border-radius: 50%;
    user-select: none;
    color: white;
    margin: 5px;
}
.prev { left: 10px}

.next { right: 10px}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;  
    margin-bottom: 5%;  
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.active {
  background: #000;
} 

@media (min-width: 640px) {

.testimonials h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

  .gallery {
    max-width: 600px;
    padding: 30px;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .name p {
    font-size: 1.1rem;
  }

  .quote {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {

  .gallery {
    max-width: 700px;
    padding: 40px;
  }

  .profile img {
    width: 120px;
    height: 120px;
  }

  .name p {
    font-size: 1.25rem;
  }

  .quote {
    font-size: 1rem;
  }

  .row {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .gallery {
    max-width: 900px;
    padding: 50px;
  }

  .profile img {
    width: 150px;
    height: 150px;
  }

  .name p {
    font-size: 1.5rem;
  }

  .quote {
    font-size: 1.25rem;
  }

  .row {
    gap: 30px;
  }
} 